<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/promos">Liste des promos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/students">Liste des étudiants</a>
  </li>
    <li class="nav-item">
        <a class="nav-link active" href="/admin/student/add">Ajouter un étudiant</a>
    </li>
  </ul>