<%- include("partials/header")%>
<h1>Bienvenue sur le Trombi d'oclock</h1>
<h2><a href="/promos">Liste des promos</a></h2>
<div style="text-align: center;"><a href="/admin/student/add">Ajouter un étudiant</a></div>
<%- include("partials/footer")%>
