<%- include("partials/header")%>
<h1>Bienvenue sur le Trombi d'oclock</h1>
<a href="/promos">Liste des promos</a>
<ul>
    <% for (const promo of promos) { %>
        <li><%=promo.name%></li>
    <% } %>
</ul>
<%- include("partials/footer")%>
